<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=POSTE269;Initial Catalog=sxUnimageDev;Integrated Security=False;User ID=sa;Password=gluesoft;" providerName="System.Data.SqlClient" />
    <add name="sxUnimageDevGIEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=POSTE269;initial catalog=sxUnimageDevGI;persist security info=True;user id=sa;password=gluesoft;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>